extends layout

block head

block content
  header
    h1= title

  section
    article
      p Hello World

      if !userAuthorizedApp
        a(href=oAuthDialogURL, target="_top", class="radius button")   Authenticate Me!