doctype 5
html
  head
    title Simple Facebook Tab Application
    link(rel="stylesheet",href="stylesheets/app.css")
    script(src="js/foundation/modernizr.foundation.js")
    block head
  body
    div(id="fb-root")
    script
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '#{appID}', // App ID
          //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });
      };
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));


    block content

    script(src="js/foundation/jquery.js")

    script(src="js/foundation/jquery.foundation.accordion.js")

    script(src="js/foundation/jquery.foundation.alerts.js")

    script(src="js/foundation/jquery.foundation.buttons.js")

    script(src="js/foundation/jquery.foundation.forms.js")

    script(src="js/foundation/jquery.foundation.mediaQueryToggle.js")

    script(src="js/foundation/jquery.foundation.navigation.js")

    script(src="js/foundation/jquery.foundation.orbit.js")

    script(src="js/foundation/jquery.foundation.reveal.js")

    script(src="js/foundation/jquery.foundation.tabs.js")

    script(src="js/foundation/jquery.foundation.tooltips.js")

    script(src="js/foundation/jquery.placeholder.js")



    script(src="js/foundation/app.js")